# Node
node_modules/
dist/
*.tsbuildinfo

# Python
__pycache__/
venv/

# Visual Studio Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Env files
.env
.env.local
.env*.local
*.log

# Frontend build output
frontend/.next/

# Local env files
backend/.env
frontend/.env